@media (min-width: 600px) {
    .table-page2{
        margin: 0px auto;
        width: 500px;
    }

    #page2 .button{
        margin: 15px auto;
        display: block !important;
    }

    #page2 .hero-banner {
        padding: 50px 0 50px 0 !important;
    }

    #page3 .hero-banner {
        padding: 50px 0 50px 0 !important;
    }
}

